<!DOCTYPE html>
<html lang="ja">

<meta name="viewport" content="width=device-width,initial-scale=1">

<head>
    <meta charset="utf-8">
    <title>Among Us 特殊役抽選ツール</title>
    <link type="text/css" rel="stylesheet" href="./styles/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="./styles/bootstrap-vue.css" />
</head>

<body>
    <div id="app">
        <top-page></top-page>
    </div>
    <script src="./scripts/vue.js"></script>
    <script src="./scripts/vue-router.js"></script>
    <script src="./scripts/httpVueLoader.js"></script>
    <script src="./scripts/vuex.js"></script>
    <script src="./scripts/bootstrap-vue.js"></script>
    <script src="./scripts/axios.min.js"></script>
    <script src="./scripts/main.js"></script>
</body>

</html>